{% extends 'base.html' %}

{% block content %}
<div class='container is-centered'>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class='navbar-start py-3 '>
            <a class="navbar-item has-text-weight-bold" href="{{url_for('proctor.index')}}">
                Admin-Code : {{ admin_code }}
            </a>
        </div>
        <div class='navbar-end py-3'>
            <a class="navbar-item has-text-white has-background-dark box mr-2" href="{{url_for('auth.logout')}}">
                Logout
            </a>
        </div>
    </nav>
    {% block admin %}
    
    {% endblock admin %}

</div>
{% endblock content %}