{% extends 'base.html' %}
{% block content %}
<video autoplay="true" id="videoElement"></video>
<canvas id="canvasOutput"></canvas>

<script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
<img src="">
<script>
    var socket = io();

    socket.on('connect', function(){
        console.log("Connected...!", socket.connected)
    });

    const video = document.querySelector("#videoElement");
    const cv = document.querySelector('#canvasOutput');
    const img = document.querySelector('img')
    video.width = 500; 
    video.height = 375;
    cv.height = video.height
    cv.width = video.width
    let img_blobs = []
    if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true })
        .then(function (stream) {
            video.srcObject = stream;
            window.stream = stream;
            video.play();

            setInterval(()=>{
                cv.getContext('2d').drawImage(video,0,0,100,100)
                cv.toBlob(sendToServer)
                
                },100)
        })
        .catch(function (err0r) {
            console.log(err0r)
            console.log("Something went wrong!");
        });
    }
    function sendToServer(d){
        // console.log('ha')
        //socket.emit('image',d,console.log("haha"))
        var reader = new FileReader();
        reader.readAsDataURL(d); 
        reader.onloadend = function() {
            var base64data = reader.result;                
            socket.emit('image',base64data,c=>console.log(c))
           // console.log(base64data, 'sent')
        } 
    }
</script>
{% endblock content %}