{% extends 'proctor_base.html' %}
{% block proctor %}
<div class='container mt-3'>
    <script src="https://cdn.tiny.cloud/1/pnu5wcnai3tly3zznxfosz57byosojeu2hos40q5wgzomht3/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <form method="post">
        <h1 class="is-size-1 title"> Create an Exam Form </h1>

        {{ form.hidden_tag() }}
        <div class='field'>
            <label for="" class='label mb-4'>
                {{form.proctor_id.label}}
            </label>
            <div class='select'>
                {{form.proctor_id(class='')}}
            </div>
            <p class='help is-danger'>
                {% for error in form.proctor_id.errors %}
                <span>
                    {{error}}
                </span>
                {% endfor %}
            </p>
        </div>

        <div id="exam-questions-box" class='field'>
            {% for exam_question in form.exam_questions %}
            <div class='field '>
                <label class='label is-flex is-align-content-center is-flex-direction-row is-justify-content-space-between'>
                    {{ exam_question.question.label }}
                    <span>
                        <button class='button has-background-danger' onclick="deleteQuestion(event)" >
                            <i class='fas fa-times has-text-white has-background-danger'></i>
                        </button>
                    </span>
                </label>
                <div class='control'>
                    {{ exam_question.question(class='textarea adv-editor') }}
                </div>
                <p class='help is-danger'>
                    {% for error in exam_question.errors %}
                    <span>
                        {{error}}
                    </span>
                    {% endfor %}
                </p>
            </div>
            {% endfor %}
        </div>

        <div class='field is-grouped'>
            <p class="control">
                <button onclick="addQuestion(event)" class='button is-primary'> Add Question </button>
            </p>
            <p class='control'>
                {{ form.submit( class='button is-success is-outlined') }}
            </p>
        </div>

    </form>
</div>
<script>

    let last_id = 1;

    const editor_config = {
        selector: '.adv-editor',
        statusbar: false,
        height:150,
        plugins: "lists image imagetools",
        toolbar: "bold italic outdent indent numlist bullist image",
        menubar: false,
        automatic_uploads: true
    }

    function renderQuestion(id) {
        return (`
                <div class="field ">
                    
                    <label class='label is-flex is-align-content-center is-flex-direction-row is-justify-content-space-between'>
                        <span> Enter Question Text </span>
                        <span>
                            <button class='button has-background-danger' onclick="deleteQuestion(event)" >
                                <i class='fas fa-times has-text-white has-background-danger'></i>
                            </button>
                        </span>
                    </label>
                    <div class='control'>
                        <textarea id="exam_questions-${id}-question" name="exam_questions-${id}-question" class="textarea adv-edit" ></textarea>
                    </div>
                </div>
        `)
    }

    function deleteQuestion(e) {
        e.preventDefault()
        $(e.target).closest(".field").remove()
    }

    function addQuestion(e) {
        e.preventDefault()
        last_id += 1;
        const component = renderQuestion(last_id)
        $('#exam-questions-box').append(component)
        tinymce.init({
            ...editor_config,
            selector: `#exam_questions-${last_id}-question`,
        });
    }

</script>
<script>
    tinymce.init(editor_config);
</script>
{% endblock proctor %}