{% extends 'proctor_base.html' %}
{% block proctor %}
    <div class='container mt-3'>

        <div class='box'>
            <h1 class='title is-capitalized has-text-info'>
                {{data.name}}
                <a class="button is-danger has-text-weight-bold" href="{{url_for('proctor.purge_session', proctor_id=data.id)}}">
                    Purge
                </a>
            </h1>
            <h2 class='subtitle is-6'>
                Proctor Id : {{data.id}}
            </h2>
            <p>
                <span class='has-text-weight-bold'>
                    Starts at 
                </span> {{moment(data.start_time).format('LLL')}}
            </p>
            <p>
                <span class='has-text-weight-bold'>
                    Ends at 
                </span> {{moment(data.end_time).format('LLL')}}
            </p>
            <p>
                <span class='has-text-weight-bold'>
                    Duration 
                </span> {{data.duration//60}} minutes
            </p>
        </div>

        <div class='box'>
            <h1 class='title is-capitalized has-text-info'>
                Student Details
            </h1>
            <div class='table-container'>
                <table class='table is-fullwidth'>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Token</th>
                        </tr>
                    </thead>
                    <tr class='is-primary'>
                    </tr>
                    {% for user in session_users %}
                        <tr>
                            <td>
                                {{user.name}}
                            </td>
                            <td>
                                {{user.email}}
                            </td>
                            <td colspan="2">
                                {{user.token}}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div>
                <button class='button is-primary' id='mail-all' onclick="mailMadi(event)" data-target-proctor="{{data.id}}"> 
                    <span class='icon is-small'>
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span>
                        Mail Them All
                    </span>
                </button>
            </div>
        </div>

        <div class='box'>
            <h1 class='title is-capitalized has-text-info'>
                Exam Form 
            </h1>
 
            <div class=" pl-3 is-flex is-flex-direction-column">

                    {% for question in exam_form['exam_questions'] %}
                        <div class="is-flex if-flex-direction-row">
                            <p class="pr-2"> {{loop.index}} )</p>
                           {{ question['question_text']|safe }}
                        </div>
                    {% endfor %}
            </div>
        </div>
        <div class='box'>
            <h1 class='title is-capitzalized has-text-info'>
                Exam Form Reponses
            </h1>
            <div class='container'>
                {% for user in session_users %}
                    {% if user.exam_response != None %}
                        <div class='box'>
                            <div class='columns is-size-4 has-text-weight-semibold'>
                                <div class='column'>
                                    {{user.id}}
                                </div>
                                <div class='column'>
                                    {{user.name}}
                                </div>
                                <div class='column'>
                                    {{user.email}}
                                </div>
                            </div>
                            <div class='columns'>
                                <div class='column'>
                                    <figure class="image is-2by1">
                                        <img src="{{user.id_card}}" alt="user's id card">
                                    </figure>
                                </div>
                                <div class='column'>
                                    {% if user.submitted %}
                                    <table class='table'>
                                        <thead>
                                            <tr>
                                                <th> Metric </th>
                                                <th> Percentage </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Times Face Not Detected</td>
                                                <td>{{user.log_data[1]}}</td>
                                            </tr>
                                            <tr>
                                                <td>Times Multi Face Detected</td>
                                                <td>{{user.log_data[2]}}</td>
                                            </tr>
                                            <tr>
                                                <td>Times Face was not Recognized Detected</td>
                                                <td>{{user.log_data[3]}}</td>
                                            </tr>
                                            <tr>
                                                <td>Times Face Went Sideways</td>
                                                <td>{{user.log_data[4]}}</td>
                                            </tr>
                                            <tr>
                                                <td>Times Face Pupil went Sideways</td>
                                                <td>{{user.log_data[5]}}</td>
                                            </tr>
                                        </tbody>
                                        
                                    </table>
                                    <!-- <p> <b>Times Face Not Detected </b> {{user.log_data[1]}} </p>
                                    <p> <b>Times Multi Face Detected </b> {{user.log_data[2]}} </p>
                                    <p> <b>Times Face was not Recognized Detected </b> {{user.log_data[3]}} </p>
                                    <p> <b>Times Face Went Sideways </b> {{user.log_data[4]}} </p>
                                    <p> <b>Times Face Pupil went Sideways </b> {{user.log_data[5]}} </p> -->

                                    

                                    {% endif %}
                                    <!-- <img src="" alt="user's face"> -->
                                </div>
                            </div>
                            {% for answer in user.exam_response.response['answer_data'] %}
                                <div class='mb-3'>
                                    <b>
                                        {{exam_form['exam_questions'][loop.index-1]['question_text']|safe}}
                                    </b>
                                    <p>
                                        {{answer['answer']}}
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
        
</div>
<script>
    function mailMadi(e){
        $("#mail-all").addClass("is-loading");
        let proctor_id = $("#mail-all").attr("data-target-proctor")
        if(!proctor_id)
            return
        $.ajax({
            url:`/proctor/session/${proctor_id}/mail/`,
            method:"GET",
        }).done( data => {
            if(data.msg === "Success")
                alert("Mailed Them All")
            $('#mail-all').removeClass("is-loading");
        })
    }
</script>
{% endblock proctor %}
