{% extends 'proctor_base.html' %}
{% block proctor %}
    <div class='container is-centered mt-3'>
        {% if proctor_session_data.count() != 0 %}
        <h1 class='is-size-2 has-text-weight-bold'>All Proctor Sessions</h1>
        {% endif %}
        <div class='is-flex is-flex-direction-column'>
            {% for x in proctor_session_data %}
                <div class='box'>
                    <div class='level'>
                        <div class='level-left'>
                            <h1 class='level-item has-text-weight-medium is-capitalized is-size-5'>
                                    {{x.name}}
                            </h1>
                            <div class=' level-item  has-text-left'>
                                    <p>
                                    Starts on - <span class='has-text-warning-dark'> {{moment(x.start_time).format('LLL')}} </span> Duration - <span class='has-text-warning-dark'> {{x.duration / 60}} </span>  minutes
                                    </p>
                            </div>
                        </div>
                        <div class='level-right'>
                            <p class='level-item'>
                                <strong>
                                    Status :
                                    {% if  now < x.start_time %}
                                    <span class='has-text-info'>
                                        Scheduled
                                    </span>    
                                    {% elif (now > x.start_time) and (now < x.end_time) %}
                                    <span class='has-text-success'>
                                        Running
                                    </span> 
                                    {% elif now > x.end_time %}
                                    <span class='has-text-danger'>
                                        Ended
                                    </span> 
                                    {% else %}
                                    <span class='has-text-danger-dark'>
                                        Unknown
                                    </span> 
                                    {% endif %}
                                </strong>
                            </p>
                            <a href="{{url_for('proctor.session_details', id=x.id)}}" class='button is-link is-outlined level-item'>
                                <strong>
                                    View
                                </strong>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
        {% if proctor_session_data.count() == 0%}
        <div class="hero is-fullheight no-exam mt-5 py-5"></div>
        {% endif %}
    </div>
{% endblock proctor %}