{% extends 'proctor_base.html' %}
{% block proctor %}
    <div class='container mt-3'>

        <div class='box'>
            <h1 class='title is-capitalized has-text-info'>
                {{data.name}}
            </h1>
            <h2 class='subtitle is-6'>
                Proctor Id : {{data.id}}
            </h2>
            <p>
                <span class='has-text-weight-bold'>
                    Starts at 
                </span> {{moment(data.start_time).format('LLL')}}
            </p>
            <p>
                <span class='has-text-weight-bold'>
                    Ends at 
                </span> {{moment(data.end_time).format('LLL')}}
            </p>
            <p>
                <span class='has-text-weight-bold'>
                    Duration 
                </span> {{data.duration//60}} minutes
            </p>
        </div>

        <div class='box'>
            <h1 class='title is-capitalized has-text-info'>
                Student Details
            </h1>
            <div class='table-container'>
                <table class='table is-fullwidth'>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Token</th>
                        </tr>
                    </thead>
                    <tr class='is-primary'>
                    </tr>
                    {% for user in session_users %}
                        <tr>
                            <td>
                                {{user.name}}
                            </td>
                            <td>
                                {{user.email}}
                            </td>
                            <td colspan="2">
                                {{user.token}}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div>
                <button class='button is-primary' id='mail-all' onclick="mailMadi(event)" data-target-proctor="{{data.id}}"> 
                    <span class='icon is-small'>
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span>
                        Mail Them All
                    </span>
                </button>
            </div>
        </div>

        <div class='box'>
            <h1 class='title is-capitalized has-text-info'>
                Exam Form Details
            </h1>
 
            <div class=" pl-3 is-flex is-flex-direction-column">
                {% if exam_form != None %}
                    <h2 class='title is-5'>
                        Questions
                    </h2>
                    {% for question in exam_form['exam_questions'] %}
                    <div>
                        {{ question['question_text'] }}
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class='box'>
            <h1 class='title is-capitzalized has-text-info'>
                Exam Form Reponses
            </h1>
            <div class='container'>
                {% for user in session_users %}
                    {% if user.exam_response != None %}
                        <div class='box'>
                            <div class='columns'>
                                <div class='column'>
                                    {{user.id}}
                                </div>
                                <div class='column'>
                                    {{user.name}}
                                </div>
                                <div class='column'>
                                    {{user.email}}
                                </div>
                            </div>
                            {% for answer in user.exam_response.response['answer_data'] %}
                                <div class='mb-3'>
                                    <b>
                                        {{exam_form['exam_questions'][loop.index-1]['question_text']}}
                                    </b>
                                    <p>
                                        {{answer['answer']}}
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
        
</div>
<script>
    function mailMadi(e){
        $("#mail-all").addClass("is-loading");
        let proctor_id = $("#mail-all").attr("data-target-proctor")
        if(!proctor_id)
            return
        $.ajax({
            url:`/proctor/session/${proctor_id}/mail/`,
            method:"GET",
        }).done( data => {
            if(data.msg === "Success")
                alert("Mailed Them All")
            $('#mail-all').removeClass("is-loading");
        })
    }
</script>
{% endblock proctor %}
