{% extends 'base.html' %}
{% block content %}
    <div>
        <table style='border:1px solid black; border-collapse:collapse'>
            <tbody>
                <tr style='border:1px solid black;'>
                    <td>Session id</td><td>{{data.id}}</td>
                    <td>Name</td><td>{{data.name}}</td>
                </tr>
                <tr>
                    <td>Start Time</td><td>{{data.start_time}}</td>
                    <td>End Time</td><td>{{data.end_time}}</td>
                </tr>
                <tr>
                    <td colspan="2">Duration</td>
                    <td colspan="2"> {{data.duration}} </td>
                </tr>
                <tr>
                    <td colspan="4"> User Details</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>Email</td>
                    <td colspan="2">Token</td>
                </tr>

            </tbody>
        </table>
    </div>
    <table>
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Token</td>
        </tr>
        {% for user in data.session_users %}
            <tr>
                <td>
                    {{user.name}}
                </td>
                <td>
                    {{user.email}}
                </td>
                <td colspan="2">
                    {{user.token}}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}