{% extends 'base.html' %}
{% block content %}
    Create Proctor Session Here
    <form method="post" style="display:flex;flex-direction:column;">
        {{form.hidden_tag()}}
        <div>
            {{form.session_name.label()}} <br>
            {{form.session_name()}}
            {% for error in form.session_name.errors %}
                <span style='color:red;display:block'> {{error}} </span>
            {% endfor %}
        </div>
        <div>
            {{form.start_time.label}} <br>
            {{form.start_time}}
            {% for error in form.start_time.errors %}
                <span style='color:red;display:block'> {{error}} </span>
            {% endfor %}
        </div>
        <div>
            {{form.end_time.label}} <br>
            {{form.end_time}}
            {% for error in form.end_time.errors %}
                <span style='color:red;display:block'> {{error}} </span>
            {% endfor %}
        </div>
        <div id='session-users-box'>
            {% for session_user in form.session_users %}
                <br>
                <div>
                    <div>
                        <label>{{session_user.username.label}}</label>
                        {{session_user.username}}
                        {% for error in session_user.username.errors %}
                            <span style="color:red;display:block"> {{error}}</span>
                        {% endfor %}
                    </div>
                    <div>
                        <label>{{session_user.email.label}}</label>
                        {{session_user.email}}
                        {% for error in session_user.email.errors %}
                            <span style="color:red;display:block"> {{error}}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <button onclick="addSessionUserForm()">Add User</button>
        <br>
        {{form.submit}}
    </form>
    <script>
        let last_id=1;
        function renderSessionUserForm(id){
            return(`
                <br>
                <div>
                    <div>
                        <label><label for="session_users-${id}-username">Enter Name</label></label>
                        <input id="session_users-${id}-username" name="session_users-${id}-username" required="" type="text" >
                    </div>
                    <div>
                        <label><label for="session_users-${id}-email">Enter Email</label></label>
                        <input id="session_users-${id}-email" name="session_users-${id}-email" required="" type="text" >
                    </div>
                </div>
            `)
        }
        function addSessionUserForm(){
            last_id += 1;
            const sessionUserForm = renderSessionUserForm(last_id)
            $('#session-users-box').append(sessionUserForm)
        }
    </script>
{% endblock content %}